openapi: 3.0.0
info:
  version: 0.12.0
  title: CaseWorx API
  termsOfService: 'https://www.wolterskluwer-online.de/informationen/datenschutz'
  contact:
    name: Wolters Kluwer Deutschland GmbH
    url: 'https://www.caseworx-baurecht.de/informationen/kontakt'
    email: caseworx@wolterskluwer.com
  license:
    name: GNU Affero General Public License version 3
    url: 'https://www.gnu.org/licenses/agpl-3.0.html'
  description: |
    [CaseWorx](https://app.caseworx-baurecht.de/) API
externalDocs:
  description: Change log
  url: 'https://github.com/cwx-de/CaseWorxAPI/blob/master/CHANGELOG.md'
servers:
  - description: Production environment
    url: 'https://api.caseworx-baurecht.de/v0'
tags:
  - name: access-control
    description: Operations on ACLs
  - name: cases
    description: Operations on cases
  - name: documents
    description: Operations on document resources
  - name: media
    description: Operations on document media (aka the body of the document as opposed to metadata)
  - name: changes
    description: Operations on changes (aka audit log)
security:
  - apiKeyAuth: []
  - oAuth2AuthCode:
      - openid
      - profile
      - 'urn:wkde:cwx:api'
paths:
  /cases:
    parameters:
      - name: x-cwx-cid
        description: Correlation ID
        in: header
        required: false
        schema:
          description: Universal ID to be used unless specific validation restrictions are needed
          type: string
          maxLength: 50
          example: b50ef924-2c29-4097-904b-ab2fb286e3bb
        example: b50ef924-2c29-4097-904b-ab2fb286e3bb
      - name: x-api-key
        description: API key
        in: header
        required: false
        schema:
          description: Universal ID to be used unless specific validation restrictions are needed
          type: string
          maxLength: 50
          example: b50ef924-2c29-4097-904b-ab2fb286e3bb
        example: b50ef9242c294097904bab2fb286e3bb
    get:
      tags:
        - cases
      description: Returns a collection of all cases the user has access to
      responses:
        '200':
          description: Returns an array of cases
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                type: array
                items:
                  description: User-controlled properties of a case
                  type: object
                  required:
                    - id
                    - name
                    - client
                    - references
                  properties:
                    id:
                      description: Internal ID of the case
                      type: integer
                      format: int64
                      minimum: 0
                      readOnly: true
                      example: 12345
                    readOnly:
                      description: Indication whether or not the case is available to the user performing request in read only mode.
                      type: boolean
                      example: true
                    created:
                      description: Case creation timestamp
                      type: string
                      format: date-time
                      readOnly: true
                      example: '2020-01-18T18:00:00Z'
                    updated:
                      description: Case last update timestamp
                      type: string
                      format: date-time
                      readOnly: true
                      example: '2020-01-18T18:00:00Z'
                    name:
                      description: Case name / Name des Mandats
                      type: string
                      minLength: 1
                      example: My test mandate
                    client:
                      description: Name of a client for whom the case is opened / Name des Mandanten
                      type: string
                      minLength: 1
                      example: John Doe
                    description:
                      description: Description of a case / Kurzbeschreibung
                      type: string
                      minLength: 1
                      maxLength: 300
                      example: A demo mandate
                    references:
                      description: |
                        A collection of reference numbers of a case / Aktenzeichen  
                        A case requires minimum one reference number. Reference numbers must be unique.
                      type: array
                      items:
                        description: Label representing a reference number
                        type: string
                        minLength: 1
                      uniqueItems: true
                      minItems: 1
                      maxItems: 20
                      example:
                        - 123/2020
                        - 12/A/20
        '400':
          description: |
            Bad request  
            All otherwise unhandled client-side errors. Check the request parameters.
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '401':
          description: |
            Unauthorized  
            Check access token. The token might be invalid or might have expired.  
            Sent when the identity of the user cannot be established (including cases when the token cannot be trusted)
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '403':
          description: |
            Forbidden  
            The user for whom the access token was issued cannot access requested resource. Check access rights of the user.  
            Sent when the identity of the user has been established and the user has not been granted permission to access the resource.
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '429':
          description: |
            Too Many Requests  
            An indication that the client has exceeded its request quota. Upon catching such exceptions, the client can resubmit the failed request in a way that is rate limiting, while complying with the API throttling limits associated with its usage plan.  
        '500':
          description: |
            Internal server error  
            All unhandled server-side errors
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
    post:
      tags:
        - cases
      description: Creates a new case resource
      requestBody:
        description: Case item to create
        content:
          application/json:
            schema:
              description: User-controlled properties of a case
              type: object
              required:
                - id
                - name
                - client
                - references
              properties:
                id:
                  description: Internal ID of the case
                  type: integer
                  format: int64
                  minimum: 0
                  readOnly: true
                  example: 12345
                readOnly:
                  description: Indication whether or not the case is available to the user performing request in read only mode.
                  type: boolean
                  example: true
                created:
                  description: Case creation timestamp
                  type: string
                  format: date-time
                  readOnly: true
                  example: '2020-01-18T18:00:00Z'
                updated:
                  description: Case last update timestamp
                  type: string
                  format: date-time
                  readOnly: true
                  example: '2020-01-18T18:00:00Z'
                name:
                  description: Case name / Name des Mandats
                  type: string
                  minLength: 1
                  example: My test mandate
                client:
                  description: Name of a client for whom the case is opened / Name des Mandanten
                  type: string
                  minLength: 1
                  example: John Doe
                description:
                  description: Description of a case / Kurzbeschreibung
                  type: string
                  minLength: 1
                  maxLength: 300
                  example: A demo mandate
                references:
                  description: |
                    A collection of reference numbers of a case / Aktenzeichen  
                    A case requires minimum one reference number. Reference numbers must be unique.
                  type: array
                  items:
                    description: Label representing a reference number
                    type: string
                    minLength: 1
                  uniqueItems: true
                  minItems: 1
                  maxItems: 20
                  example:
                    - 123/2020
                    - 12/A/20
      responses:
        '201':
          description: New case item successfully added.
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
            location:
              description: URL of the created resource
              schema:
                type: string
              example: 'https://api.caseworx-baurecht.de/v0/cases/12345'
        '400':
          description: |
            Requested case cannot be created  
            `status`: `malformed_request`  
            Request structure does not comply with the specification.  
            `status`: `already_exists`  
            The request is syntactically valid but the case entity with requested name already exists.
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
              examples:
                already_exists:
                  description: Error response indicating that a case with requested name already exists and a duplicate is not allowed.
                  value:
                    status: already_exists
                    message: A case with the requested name already exists.
                malformed_request:
                  description: Error response indicating that request structure does not compy with the specification
                  value:
                    status: malformed_request
                    message: Malformed request
        '401':
          description: |
            Unauthorized  
            Check access token. The token might be invalid or might have expired.  
            Sent when the identity of the user cannot be established (including cases when the token cannot be trusted)
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '403':
          description: |
            Forbidden  
            The user for whom the access token was issued cannot access requested resource. Check access rights of the user.  
            Sent when the identity of the user has been established and the user has not been granted permission to access the resource.
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '429':
          description: |
            Too Many Requests  
            An indication that the client has exceeded its request quota. Upon catching such exceptions, the client can resubmit the failed request in a way that is rate limiting, while complying with the API throttling limits associated with its usage plan.  
        '500':
          description: |
            Internal server error  
            All unhandled server-side errors
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
  '/cases/{caseId}':
    parameters:
      - name: caseId
        description: Case identifier
        in: path
        required: true
        schema:
          description: 'Standard resource ID (case, document)'
          type: integer
          format: int64
          minimum: 0
          example: 12345
        example: 12345
      - name: x-cwx-cid
        description: Correlation ID
        in: header
        required: false
        schema:
          description: Universal ID to be used unless specific validation restrictions are needed
          type: string
          maxLength: 50
          example: b50ef924-2c29-4097-904b-ab2fb286e3bb
        example: b50ef924-2c29-4097-904b-ab2fb286e3bb
      - name: x-api-key
        description: API key
        in: header
        required: false
        schema:
          description: Universal ID to be used unless specific validation restrictions are needed
          type: string
          maxLength: 50
          example: b50ef924-2c29-4097-904b-ab2fb286e3bb
        example: b50ef9242c294097904bab2fb286e3bb
    delete:
      tags:
        - cases
      description: Deletes a case together with all documents stored within and their relevant media
      responses:
        '202':
          description: |
            Resource not ready  
            Requested resource exists but it has not yet reached the state in its lifecycle where the requested criteria are satisfied. It may or may not reach this state in the future.  
            In requests changing state of a resource it means that the request has been accepted but not acted upon yet. It may or may not be in the future.
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
              example:
                status: resource_not_ready
                message: 'Requested media of the document resource {documentId} is not ready'
                hint: Requested resource exists but it has not yet reached the state in its lifecycle where the requested criteria are satisfied. It may or may not reach this state in the future.
        '204':
          description: Confirms that the operation has been executed successfully
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
        '400':
          description: |
            Bad request  
            All otherwise unhandled client-side errors. Check the request parameters.
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '401':
          description: |
            Unauthorized  
            Check access token. The token might be invalid or might have expired.  
            Sent when the identity of the user cannot be established (including cases when the token cannot be trusted)
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '403':
          description: |
            Forbidden  
            The user for whom the access token was issued cannot access requested resource. Check access rights of the user.  
            Sent when the identity of the user has been established and the user has not been granted permission to access the resource.
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '404':
          description: |
            Not Found  
            Requested resource doesn't exist.  
            Check how do you obtain the resource IDsused. Case or document might have been deleted.
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '429':
          description: |
            Too Many Requests  
            An indication that the client has exceeded its request quota. Upon catching such exceptions, the client can resubmit the failed request in a way that is rate limiting, while complying with the API throttling limits associated with its usage plan.  
        '500':
          description: |
            Internal server error  
            All unhandled server-side errors
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
  '/cases/{caseId}/acl':
    parameters:
      - name: caseId
        description: Case identifier
        in: path
        required: true
        schema:
          description: 'Standard resource ID (case, document)'
          type: integer
          format: int64
          minimum: 0
          example: 12345
        example: 12345
      - name: x-cwx-cid
        description: Correlation ID
        in: header
        required: false
        schema:
          description: Universal ID to be used unless specific validation restrictions are needed
          type: string
          maxLength: 50
          example: b50ef924-2c29-4097-904b-ab2fb286e3bb
        example: b50ef924-2c29-4097-904b-ab2fb286e3bb
      - name: x-api-key
        description: API key
        in: header
        required: false
        schema:
          description: Universal ID to be used unless specific validation restrictions are needed
          type: string
          maxLength: 50
          example: b50ef924-2c29-4097-904b-ab2fb286e3bb
        example: b50ef9242c294097904bab2fb286e3bb
    put:
      tags:
        - access-control
      description: |
        Replace the Access Control List (ACL) of a case.  
        This operation replaces the ACL of a case. All recipients must unequivocally resolve to existing user entities - each recipient must match exactly one existing user entity, otherwise an error will be returned and no changes to the ACL will be made.  
        The access rights of the case owner cannot be changed - the owner has always read/write permissions. If the owner of the case is found on the recipients list, it will be ignored and no error will be raised.  
        The user on whose behalf the request is executed must have write permission to the case.  
        *Compliancy with GDPR*: this operation expects the API client to potentially send personal data as defined by the General Data Protection Regulation. The owner of the client application should ensure that an appropriate legal framework for personal data processing exists.
      requestBody:
        description: ACL to create
        content:
          application/json:
            schema:
              description: access control list
              type: array
              items:
                description: access control list entry
                type: object
                properties:
                  recipient:
                    description: recipient of permissions
                    type: object
                    properties:
                      email:
                        description: email address of the recipient
                        type: string
                    required:
                      - email
                  permissions:
                    description: permissions to be grantes
                    type: object
                    properties:
                      read:
                        description: grants read access if set to true
                        type: boolean
                      write:
                        description: 'grants write access if set to true, requires read set to true as well, write access cannot be granted without read access; defaults to false'
                        type: boolean
                    required:
                      - read
                required:
                  - recipient
                  - permissions
              minItems: 1
            examples:
              acl:
                description: ACL that grants read/write access to Alice and read-only access to Bob
                value:
                  - recipient:
                      email: alice@caseworx-baurecht.de
                    permissions:
                      read: true
                      write: true
                  - recipient:
                      email: bob@caseworx-baurecht.de
                    permissions:
                      read: true
      responses:
        '201':
          description: Confirms successful change of the case ACL
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
        '400':
          description: |
            Request cannot be processed  
            `status`: `malformed_request`  
            Request structure does not comply with the specification.
            `status`: `invalid_recipient`  
            The response includes a `recipients` array listing the requested recipients that prevent the request from being serviced successfully. It will happen if the recipients cannot be mapped to known user entities. The client may choose to remove the offending recipients and repeat the request.  
            `status`: `inconsistent_permissions`  
            Requested permissions conflict with the business rules. It will happen if write permission is requested without read permission. Client may repeat the request after correcting permissions.
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: error model extension to provide list of recipients causing the request to fail
                allOf:
                  - description: Standard error object
                    type: object
                    properties:
                      code:
                        deprecated: true
                        type: integer
                        example: 100000
                      status:
                        type: string
                        example: some_error
                      message:
                        type: string
                        minLength: 1
                        example: Something went wrong
                      hint:
                        type: string
                        minLength: 1
                        example: Fix the problem
                    required:
                      - message
                  - type: object
                    properties:
                      recipients:
                        type: array
                        items:
                          description: recipient of permissions
                          type: object
                          properties:
                            email:
                              description: email address of the recipient
                              type: string
                          required:
                            - email
                        minItems: 1
              examples:
                invalid_recipient:
                  description: Error response enumerating Jane and John as unknown to CaseWorx thus preventing a successful ACL change
                  value:
                    status: invalid_recipient
                    message: One or more ACEs contain recipients that cannot be resolved
                    recipients:
                      - email: jane@caseworx-baurecht.de
                      - email: john@caseworx-baurecht.de
                inconsistent_permissions:
                  description: Error response indicating requested permissions violating business rules
                  value:
                    status: inconsistent_permissions
                    message: One or more ACEs contain permissions that conflict with the business rules
                malformed_request:
                  description: Error response indicating that request structure does not compy with the specification
                  value:
                    status: malformed_request
                    message: Malformed request
        '401':
          description: |
            Unauthorized  
            Check access token. The token might be invalid or might have expired.  
            Sent when the identity of the user cannot be established (including cases when the token cannot be trusted)
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '403':
          description: |
            Forbidden  
            The user for whom the access token was issued cannot access requested resource. Check access rights of the user.  
            Sent when the identity of the user has been established and the user has not been granted permission to access the resource.
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '404':
          description: |
            Not Found  
            Requested resource doesn't exist.  
            Check how do you obtain the resource IDsused. Case or document might have been deleted.
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '429':
          description: |
            Too Many Requests  
            An indication that the client has exceeded its request quota. Upon catching such exceptions, the client can resubmit the failed request in a way that is rate limiting, while complying with the API throttling limits associated with its usage plan.  
        '500':
          description: |
            Internal server error  
            All unhandled server-side errors
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
  /cases/changes:
    get:
      tags:
        - changes
      description: |
        Returns a list of changes starting from the provided page token and the next page token.  
        Note that each resource maintains its own set of page tokens and they in principle cannot be used interchangeably.  
        Only a token received together with a response to poll all changes can be used when requesting a changes to a specific 
        resource.
      parameters:
        - name: pageToken
          description: The page token indicating temporal scope of the request
          in: query
          schema:
            description: Universal ID to be used unless specific validation restrictions are needed
            type: string
            maxLength: 50
            example: b50ef924-2c29-4097-904b-ab2fb286e3bb
        - name: x-cwx-cid
          description: Correlation ID
          in: header
          required: false
          schema:
            description: Universal ID to be used unless specific validation restrictions are needed
            type: string
            maxLength: 50
            example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          example: b50ef924-2c29-4097-904b-ab2fb286e3bb
        - name: x-api-key
          description: API key
          in: header
          required: false
          schema:
            description: Universal ID to be used unless specific validation restrictions are needed
            type: string
            maxLength: 50
            example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          example: b50ef9242c294097904bab2fb286e3bb
      responses:
        '200':
          description: |
            Returns list of changes relevant for the user indicated by the access token in the timeframe indicated by 
            the page token. That is, the changes that occurred between the page token was generated and the request 
            resulting in this response has been received.
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Response object containing next page token and list of changes
                type: object
                required:
                  - nextPageToken
                  - changes
                properties:
                  nextPageToken:
                    description: Universal ID to be used unless specific validation restrictions are needed
                    type: string
                    maxLength: 50
                    example: b50ef924-2c29-4097-904b-ab2fb286e3bb
                  changes:
                    description: List of changes that have occurred since the page token used in the request was generated
                    type: array
                    items:
                      description: |
                        An object describing an atomic change to the state of the resource. This record should be interpreted as:  
                        A _subject_ has performed an _action_ on an _object_  
                        where:  
                        _subject_ is indicated by `subId` (not delivered in the response)  
                        _action_ is indicated by `action`  
                        _object_ may be indicated by:  
                        (`target`, `caseId`) if _object_ is a case  
                        (`target`, `caseId`, `docId`) if _object_ is a document  
                        (`target`, `caseId`, `docId`, `layer`) if _object_ is a document media  
                        (`target`, `caseId`, `userId`) if _object_ is ACL  
                      type: object
                      required:
                        - action
                        - target
                        - caseId
                      properties:
                        action:
                          description: An indication of the type of change
                          type: string
                          enum:
                            - create
                            - delete
                            - update
                        target:
                          description: Indicates which feature of a resource is affected by the change
                          type: string
                          enum:
                            - metadata
                            - media
                            - acl
                        layer:
                          description: Indicates media layer
                          readOnly: true
                          type: string
                          enum:
                            - original
                            - unified
                          default: unified
                          example: original
                        caseId:
                          description: 'Standard resource ID (case, document)'
                          type: integer
                          format: int64
                          minimum: 0
                          example: 12345
                        docId:
                          description: 'Standard resource ID (case, document)'
                          type: integer
                          format: int64
                          minimum: 0
                          example: 12345
                        userId:
                          description: Universal ID to be used unless specific validation restrictions are needed
                          type: string
                          maxLength: 50
                          example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              examples:
                list:
                  description: Sample response to a request for changes
                  value:
                    nextPageToken: djijndinwhywdmwk
                    changes:
                      - action: create
                        target: metadata
                        caseId: 12345
                      - action: create
                        target: media
                        layer: original
                        caseId: 12345
                        docId: 67890
                      - action: update
                        target: acl
                        caseId: 12345
                        userId: hsi92dk9
        '400':
          description: |
            Bad request  
            All otherwise unhandled client-side errors. Check the request parameters.
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '401':
          description: |
            Unauthorized  
            Check access token. The token might be invalid or might have expired.  
            Sent when the identity of the user cannot be established (including cases when the token cannot be trusted)
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '403':
          description: |
            Forbidden  
            The user for whom the access token was issued cannot access requested resource. Check access rights of the user.  
            Sent when the identity of the user has been established and the user has not been granted permission to access the resource.
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '429':
          description: |
            Too Many Requests  
            An indication that the client has exceeded its request quota. Upon catching such exceptions, the client can resubmit the failed request in a way that is rate limiting, while complying with the API throttling limits associated with its usage plan.  
        '500':
          description: |
            Internal server error  
            All unhandled server-side errors
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
  /cases/changes/startPageToken:
    get:
      tags:
        - changes
      description: |
        Returns start page token to navigate through changes.  
        Note that each resource maintains its own set of page tokens and they cannot be used interchangeably.  
        Only a token received together with a response to poll all changes can be used when requesting a changes to a specific 
        resource.
      parameters:
        - name: x-cwx-cid
          description: Correlation ID
          in: header
          required: false
          schema:
            description: Universal ID to be used unless specific validation restrictions are needed
            type: string
            maxLength: 50
            example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          example: b50ef924-2c29-4097-904b-ab2fb286e3bb
        - name: x-api-key
          description: API key
          in: header
          required: false
          schema:
            description: Universal ID to be used unless specific validation restrictions are needed
            type: string
            maxLength: 50
            example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          example: b50ef9242c294097904bab2fb286e3bb
      responses:
        '200':
          description: Returns start page token
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
        '400':
          description: |
            Bad request  
            All otherwise unhandled client-side errors. Check the request parameters.
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '401':
          description: |
            Unauthorized  
            Check access token. The token might be invalid or might have expired.  
            Sent when the identity of the user cannot be established (including cases when the token cannot be trusted)
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '403':
          description: |
            Forbidden  
            The user for whom the access token was issued cannot access requested resource. Check access rights of the user.  
            Sent when the identity of the user has been established and the user has not been granted permission to access the resource.
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '429':
          description: |
            Too Many Requests  
            An indication that the client has exceeded its request quota. Upon catching such exceptions, the client can resubmit the failed request in a way that is rate limiting, while complying with the API throttling limits associated with its usage plan.  
        '500':
          description: |
            Internal server error  
            All unhandled server-side errors
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
  '/cases/{caseId}/documents':
    parameters:
      - name: caseId
        description: Case identifier
        in: path
        required: true
        schema:
          description: 'Standard resource ID (case, document)'
          type: integer
          format: int64
          minimum: 0
          example: 12345
        example: 12345
      - name: x-cwx-cid
        description: Correlation ID
        in: header
        required: false
        schema:
          description: Universal ID to be used unless specific validation restrictions are needed
          type: string
          maxLength: 50
          example: b50ef924-2c29-4097-904b-ab2fb286e3bb
        example: b50ef924-2c29-4097-904b-ab2fb286e3bb
      - name: x-api-key
        description: API key
        in: header
        required: false
        schema:
          description: Universal ID to be used unless specific validation restrictions are needed
          type: string
          maxLength: 50
          example: b50ef924-2c29-4097-904b-ab2fb286e3bb
        example: b50ef9242c294097904bab2fb286e3bb
    get:
      tags:
        - documents
      description: 'Returns selected properties of documents in a case. At present `id`, `title`, `date` and `types` are returned. Implementation may return other properties as well. Proper partial response will be implemented later. If a particular document exists only in its raw layer (not enriched) only `id` is returned.'
      responses:
        '200':
          description: Returns an array of documents in a case with available properties
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                type: array
                items:
                  anyOf:
                    - description: Properties of original (not enriched) document
                      type: object
                      required:
                        - id
                        - state
                        - filename
                      properties:
                        id:
                          description: Internal ID of the document
                          type: integer
                          format: int64
                          minimum: 0
                          readOnly: true
                          example: 67890
                        state:
                          description: State of the document in the document lifecycle
                          readOnly: true
                          type: string
                          enum:
                            - original
                            - unified
                            - autoenriched
                            - enriched
                            - annotated
                          example: original
                        filename:
                          description: Filename under which the document's media have been registered during upload
                          type: string
                          readOnly: true
                          example: mySampleFile.pdf
                        created:
                          description: Document creation timestamp
                          type: string
                          format: date-time
                          readOnly: true
                          example: '2020-01-18T18:00:00Z'
                        updated:
                          description: Document last update timestamp
                          type: string
                          format: date-time
                          readOnly: true
                          example: '2020-01-18T18:00:00Z'
                    - description: Properties of an enriched document resource
                      allOf:
                        - description: Properties of original (not enriched) document
                          type: object
                          required:
                            - id
                            - state
                            - filename
                          properties:
                            id:
                              description: Internal ID of the document
                              type: integer
                              format: int64
                              minimum: 0
                              readOnly: true
                              example: 67890
                            state:
                              description: State of the document in the document lifecycle
                              readOnly: true
                              type: string
                              enum:
                                - original
                                - unified
                                - autoenriched
                                - enriched
                                - annotated
                              example: original
                            filename:
                              description: Filename under which the document's media have been registered during upload
                              type: string
                              readOnly: true
                              example: mySampleFile.pdf
                            created:
                              description: Document creation timestamp
                              type: string
                              format: date-time
                              readOnly: true
                              example: '2020-01-18T18:00:00Z'
                            updated:
                              description: Document last update timestamp
                              type: string
                              format: date-time
                              readOnly: true
                              example: '2020-01-18T18:00:00Z'
                        - type: object
                          description: Properties of a document resource
                          required:
                            - title
                            - date
                            - types
                          properties:
                            id:
                              description: Internal ID of the document
                              type: integer
                              readOnly: true
                              example: 67890
                            filename:
                              description: Filename under which the document's media have been registered during upload
                              type: string
                              readOnly: true
                              example: mySampleFile.pdf
                            created:
                              description: Document creation timestamp
                              type: string
                              format: date-time
                              readOnly: true
                              example: '2020-01-18T18:00:00Z'
                            updated:
                              description: Document last update timestamp
                              type: string
                              format: date-time
                              readOnly: true
                              example: '2020-01-18T18:00:00Z'
                            title:
                              description: Document title / Dokumenttitel
                              type: string
                              minLength: 1
                              example: My test document title
                            date:
                              description: Document date coordinate in the case timeline / Datum
                              type: string
                              format: date
                              example: '2019-12-01'
                            types:
                              description: |
                                A collection of document types / Dokumententyp  
                                A document requires minimum one type. Types must be unique.  
                              type: array
                              items:
                                type: string
                                minLength: 1
                              uniqueItems: true
                              minItems: 1
                              maxItems: 500
                              example:
                                - Fax
                                - Complaint
                            parties:
                              description: |
                                A collection of parties associated with a document / Beteiligte  
                                Parties must be unique.
                              type: array
                              items:
                                type: string
                                minLength: 1
                              uniqueItems: true
                              maxItems: 500
                              example:
                                - John Doe
                                - Acme Corp.
                            trades:
                              description: |
                                A collection of technical trades associated with a document / Gewerk  
                                Trades must be unique.
                              type: array
                              items:
                                type: string
                                minLength: 1
                              uniqueItems: true
                              maxItems: 500
                              example:
                                - plumbing
                                - masonery
                            defects:
                              description: |
                                A collection of defects associated with a document / Mängel  
                                Defects must be unique.
                              type: array
                              items:
                                type: integer
                                minLength: 1
                              uniqueItems: true
                              maxItems: 500
                              example:
                                - 122562
                                - 122680
                            tags:
                              description: |
                                A collection of tags associated with a document / Eigene Schlagworte  
                                Tags must be unique.
                              type: array
                              items:
                                type: string
                                minLength: 1
                              uniqueItems: true
                              maxItems: 500
                              example:
                                - to do
                                - easy win
                            suggestions:
                              description: Automatically recognized values of document metadata
                              type: object
                              properties:
                                defects:
                                  description: |
                                    A collection of defects associated with a document / Mängel  
                                    Defects must be unique.
                                  type: object
                                  properties:
                                    descriptions:
                                      type: array
                                      items:
                                        type: string
                                      uniqueItems: true
                                      maxItems: 500
                                    identifiers:
                                      type: array
                                      items:
                                        type: string
                                      uniqueItems: true
                                      maxItems: 500
                                    refs:
                                      description: An array of references to defect identifiers
                                      type: array
                                      items:
                                        type: integer
                                      uniqueItems: true
                                      maxItems: 500
                                  items:
                                    type: string
                                    minLength: 1
                                  uniqueItems: true
                                  maxItems: 500
                                  example:
                                    descriptions:
                                      - Mangel Nr. 122562
                                      - Mangel Nr. 122680
                                    identifiers:
                                      - '122562'
                                      - '122680'
                                    refs:
                                      - 12345
                                      - 67890
        '400':
          description: |
            Bad request  
            All otherwise unhandled client-side errors. Check the request parameters.
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '401':
          description: |
            Unauthorized  
            Check access token. The token might be invalid or might have expired.  
            Sent when the identity of the user cannot be established (including cases when the token cannot be trusted)
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '403':
          description: |
            Forbidden  
            The user for whom the access token was issued cannot access requested resource. Check access rights of the user.  
            Sent when the identity of the user has been established and the user has not been granted permission to access the resource.
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '404':
          description: |
            Not Found  
            Requested resource doesn't exist.  
            Check how do you obtain the resource IDsused. Case or document might have been deleted.
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '429':
          description: |
            Too Many Requests  
            An indication that the client has exceeded its request quota. Upon catching such exceptions, the client can resubmit the failed request in a way that is rate limiting, while complying with the API throttling limits associated with its usage plan.  
        '500':
          description: |
            Internal server error  
            All unhandled server-side errors
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
    post:
      tags:
        - media
      description: |
        Uploads a document media. The upload results in creating a document resource.  
        At present this is the only way to create a document resource - the creation flow starts with uploading the document media. Once the media is processed, the document resource receives its basic collection of metadata assigned by the system.
      parameters:
        - name: content-disposition
          description: |
            Provides a file name that should be assigned to the media resource being uploaded. See [RFC6266](https://tools.ietf.org/html/rfc6266). Disposition type 'attachment' and with disposition parameter 'filename'. Characters outside of ISO-8859-1 must use 'filename*' and URL-escaped UTF-8 encoding per [RFC6266 sec. 4.3](https://tools.ietf.org/html/rfc6266#section-4.3).
          in: header
          schema:
            type: string
          required: true
          example: attachment; filename*=utf-8''d%C3%A9j%C3%A0vu.pdf
      requestBody:
        description: |
          Document body for upload. The request body length is limited at 4MB (4194304 bytes), for larger bodies HTTP 413 is returned.
        content:
          application/pdf:
            schema:
              description: PDF schema
              type: string
              format: binary
          application/vnd.oasis.opendocument.spreadsheet:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          application/vnd.oasis.opendocument.spreadsheet-template:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          application/vnd.sun.xml.calc:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          application/vnd.ms-excel:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          application/vnd.openxmlformats-officedocument.spreadsheetml.sheet:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          text/csv:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          text/tab-separated-values:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          application/vnd.oasis.opendocument.text:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          application/vnd.oasis.opendocument.text-template:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          application/vnd.sun.xml.writer:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          application/rtf:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          application/msword:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          application/vnd.openxmlformats-officedocument.wordprocessingml.document:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          application/vnd.wordperfect:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          text/plain:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          application/vnd.oasis.opendocument.presentation:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          application/vnd.oasis.opendocument.presentation-template:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          application/vnd.sun.xml.impress:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          application/vnd.ms-powerpoint:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          application/vnd.openxmlformats-officedocument.presentationml.presentation:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          application/vnd.ms-outlook:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          image/jpeg:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          image/bmp:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          image/gif:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          image/png:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          image/tiff:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          application/vnd.oasis.opendocument.graphics:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          application/vnd.oasis.opendocument.graphics-template:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
          text/html:
            schema:
              description: Any octet stream payload schema
              type: string
              format: binary
      responses:
        '201':
          description: Document resource created and media successfully uploaded for the document
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
            location:
              description: URL of the created document resource
              schema:
                type: string
                example: 'https://api.caseworx-baurecht.de/v0/cases/12345/documents/567890'
              required: true
        '400':
          description: |
            Bad request  
            All otherwise unhandled client-side errors. Check the request parameters.
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '401':
          description: |
            Unauthorized  
            Check access token. The token might be invalid or might have expired.  
            Sent when the identity of the user cannot be established (including cases when the token cannot be trusted)
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '403':
          description: |
            Forbidden  
            The user for whom the access token was issued cannot access requested resource. Check access rights of the user.  
            Sent when the identity of the user has been established and the user has not been granted permission to access the resource.
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
                    example: 100000
                  status:
                    type: string
                    example: some_error
                  message:
                    type: string
                    minLength: 1
                    example: Something went wrong
                  hint:
                    type: string
                    minLength: 1
                    example: Fix the problem
                required:
                  - message
        '411':
          description: |
            Cannot establish request payload size  
            Content-Length header either not specified or invalid.
          headers:
            x-cwx-cid:
              description: Correlation ID
              required: false
              schema:
                description: Universal ID to be used unless specific validation restrictions are needed
                type: string
                maxLength: 50
                example: b50ef924-2c29-4097-904b-ab2fb286e3bb
              example: b50ef924-2c29-4097-904b-ab2fb286e3bb
          content:
            application/json:
              schema:
                description: Standard error object
                type: object
                properties:
                  code:
                    deprecated: true
                    type: integer
[...]
